body{
    background-color: black;
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 200px;
    margin: 50px;
}

main h1{
    color: white;
    margin-bottom: 50px;
}

.frame{
    width: 700px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.icon img{
    width: 160px;
    margin: 10px;
    border-radius: 20px;
}

.icon:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.icon img:hover{
    border: 1.5px solid #FFFFFF;
}

button{
    margin-top: 100px;
    color: white;
    background-color: black;
    height: 50px;
    width: 206px;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
}

button:hover{
    color: black;
    background-color: white;
}